@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional */
html { scroll-behavior: smooth; }
@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.4), 0 0 20px rgba(0, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.7), 0 0 50px rgba(0, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.4), 0 0 20px rgba(0, 255, 255, 0.3);
  }
}
